.centralize {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0px;
    padding: 0em;
}

h1 {
    font-size: 40px;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;

}

p {
    font-size: 12px;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.interna {
    width: 200px; /* Valor da Largura do elemento */
}

i {
    font-family: fontawesome !important;
}

body {
    background-color: #F5F5F5;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;

}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
} 